!!!
%html{:lang => "en"}
  %head
    %title Studdr
    %meta{:charset => "utf-8", :content => "text/html;", "http-equiv" => "Content-Type"}/
    %meta{:content => "A comedy site dedicated to real life comedy in 3D", :name => "description"}/
    %meta{:content => "", :name => "keywords"}/
    = stylesheet_link_tag 'reset','styles', 'facebox'
    /[if IE]
      <haml:loud> stylesheet_link_tag 'ie'</haml:loud>
    /[if IE 7]
      <haml:loud> stylesheet_link_tag 'ie7'</haml:loud>
    %link{:href => "https://microformats.org/profile/hcard", :rel => "profile"}
      %script{:charset => "utf-8", :src => "http://connect.facebook.net/en_US/all.js", :type => "text/javascript"}
  %body
    #bgwrapper
      #wrapper
        #container
          #logo
            = link_to image_tag('logo.png', :alt => 'Studdr'), '/'
          #header
            = render 'shared/header'
          #section
            = render 'shared/sidebar'
            = render 'shared/posts/new'
            = render 'shared/notices'
            = yield
          #footer
            = render 'shared/footer'
            = render 'shared/misc/get_satifisfaction'
            = render 'shared/misc/google_analytics'
        = javascript_include_tag 'http://platform.twitter.com/anywhere.js?id=TJAQ1utgb7XUcOrb8VOFyA&v=1'
        = javascript_include_tag 'jquery', 'jquery.form', 'jquery.facebox'
